In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)
import numpy as np
from sklearn.metrics.pairwise import haversine_distances
from math import radians

In [2]:
pref = 'inmobiliario'

In [3]:
df1 = pd.read_csv('reto_precios.csv')
df2 = pd.read_csv('inmobiliarios.csv', encoding='latin-1')

C:\Users\alber\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df2.head()

,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,nom_v_e_1,tipo_v_e_2,nom_v_e_2,tipo_v_e_3,nom_v_e_3,numero_ext,letra_ext,edificio,edificio_e,numero_int,letra_int,tipo_asent,nomb_asent,tipoCenCom,nom_CenCom,num_local,cod_postal,cve_ent,entidad,cve_mun,municipio,cve_loc,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
0,6799724,01001531210002563001000000U5,A TERCEROS VIVIENDA Y EQUIPAMIENTO,A TERCEROS VIVIENDA Y EQUIPAMIENTO SAPI DE CV,531210,Inmobiliarias y corredores de bienes raíces,0 a 5 personas,AVENIDA,LAS AMÉRICAS,CALLE,DOCTOR E. GONZALEZ MEDINA,CALLE,REPUBLICA MEXICANA,CALLE,REPÚBLICA DEL SALVADOR,1701.0,NaN,NaN,NaN,0.0,NaN,FRACCIONAMIENTO,EL DORADO,NaN,NaN,1701,20235.0,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,2070,3,4499175056.0,NaN,WWW.CASASATERCEROS.COM,Fijo,21.862409,-102.305452,2017-11
1,6905941,01001532492000201000000000U7,ABC ARRENDADORA,NaN,532492,"Alquiler de maquinaria y equipo para mover, le...",0 a 5 personas,CALLE,TALIA,CALLE,LOS ARCOS,AVENIDA,HEROE DE NACOZARI NORTE,CALLE,CIRCE,231.0,NaN,NaN,NaN,0.0,NaN,FRACCIONAMIENTO,LAS HADAS,NaN,NaN,NaN,20140.0,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,1975,4,4499969388.0,VENTAS@ANDAMIOSABC.COM,WWW.RENTADEANDAMIOSABC.COM,Fijo,21.909031,-102.288850,2019-11
2,6979658,01001531319000631000000000S1,ABOGADOS LEGAL SOLUTION,MOBILIARIA DAMIR SA DE CV,531210,Inmobiliarias y corredores de bienes raíces,0 a 5 personas,CALLE,PLAZA PRINCIPAL NORTE,PEATONAL,BENITO JUAREZ,CALLE,5 DE MAYO,PEATONAL,ALLENDE ORIENTE,119.0,NaN,NaN,NaN,NaN,NaN,COLONIA,ZONA CENTRO,NaN,NaN,NaN,20000.0,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,0638,13,NaN,VENTAS@DAMIR.COM.MX,WWW.DAMIR.COM.MX,Fijo,21.881423,-102.295927,2019-11
3,8500048,01001531210002962000000000U9,ACRE21 BIENES RAICES,NaN,531210,Inmobiliarias y corredores de bienes raíces,6 a 10 personas,CALLE,JUAN LOPEZ ELIZALDE,CALLE,PUEBLO DE SAN MARCOS,CALLE,GERONIMO DE LA CUEVA,CALLE,FRANCISCO TENAMAZTLE,2307.0,NaN,NaN,NaN,NaN,NaN,FRACCIONAMIENTO,VILLA DE NUESTRA SEÑORA DE LA ASUNCIÓN SECTOR ...,NaN,NaN,NaN,20126.0,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,3863,20,4492341111.0,ARODI.RIOS@ACRE21.COM.MX,WWW.ACRE21.COM.MX,Fijo,21.927365,-102.265954,2019-11
4,23650,01001531311000303000000000U4,ADMINISTRACIOB CONDOMINIOS PLAZA PATRIA,CONDOMINIOS PLAZA PATRIA AC,531311,Servicios de administración de bienes raíces,0 a 5 personas,CALLE,JOSE MARIA CHAVEZ,CALLE,NIETO,CALLE,RAYON,CALLE,GALEANA SUR,123.0,NaN,CENTRO Y PLAZA COMERCIAL,PISO 1,27.0,NaN,COLONIA,ZONA CENTRO,CENTRO Y PLAZA COMERCIAL,CENTRO COMERCIAL PLAZA PATRIA,27,20000.0,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,0695,20,NaN,CCPATRIA@HOTMAIL.COM,WWW.CCPLAZAPATRIA.COM.MX,Fijo,21.879377,-102.296275,2010-07

In [5]:
df2.columns

Index(['id', 'clee', 'nom_estab', 'raz_social', 'codigo_act', 'nombre_act',
       'per_ocu', 'tipo_vial', 'nom_vial', 'tipo_v_e_1', 'nom_v_e_1',
       'tipo_v_e_2', 'nom_v_e_2', 'tipo_v_e_3', 'nom_v_e_3', 'numero_ext',
       'letra_ext', 'edificio', 'edificio_e', 'numero_int', 'letra_int',
       'tipo_asent', 'nomb_asent', 'tipoCenCom', 'nom_CenCom', 'num_local',
       'cod_postal', 'cve_ent', 'entidad', 'cve_mun', 'municipio', 'cve_loc',
       'localidad', 'ageb', 'manzana', 'telefono', 'correoelec', 'www',
       'tipoUniEco', 'latitud', 'longitud', 'fecha_alta'],
      dtype='object')

In [6]:
df1 = df1[['id','lat','lon']]
# Cambiar los nombres de las variables en df1 agregando sufijo 1
df1 = df1.rename(columns={ 'lat': 'lat1', 'lon': 'lon1'})
# Cambiar los nombres de las variables en df2 agregando sufijo 2
df2 = df2.rename(columns={'id': 'id2', 'latitud': 'lat2', 'longitud': 'lon2'})

In [7]:
# Definir la tolerancia espacial (en kilómetros)
tolerancia = 0.5

# Convertir las latitudes y longitudes a radianes
df1['lat_rad1'] = df1['lat1'].apply(radians)
df1['lon_rad1'] = df1['lon1'].apply(radians)
df2['lat_rad2'] = df2['lat2'].apply(radians)
df2['lon_rad2'] = df2['lon2'].apply(radians)

In [8]:
# Calcular la distancia haversine entre las coordenadas
distances = haversine_distances(df1[['lat_rad1', 'lon_rad1']], df2[['lat_rad2', 'lon_rad2']]) * 6371000/1000  # Convertir a kilómetros

# Encontrar las coincidencias dentro de la tolerancia
matches = distances <= tolerancia

In [9]:
matching_indices = np.where(matches)

# Crear una lista para almacenar los DataFrames combinados
combined_dfs = []

# Iterar sobre los índices y columnas de coincidencias
for idx, col in zip(*matching_indices):
    # Obtener los registros coincidentes de df1 y df2
    matching_record_df1 = df1.loc[idx]
    matching_record_df2 = df2.loc[col]
    
    # Combinar los registros en un DataFrame
    combined_record = pd.concat([matching_record_df1, matching_record_df2])
    combined_dfs.append(combined_record)

# Concatenar todos los DataFrames combinados en uno solo
final_combined_df = pd.concat(combined_dfs, axis=1).T

In [10]:
final_combined_df.head(3)

,id,lat1,lon1,lat_rad1,lon_rad1,id2,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,nom_v_e_1,tipo_v_e_2,nom_v_e_2,tipo_v_e_3,nom_v_e_3,numero_ext,letra_ext,edificio,edificio_e,numero_int,letra_int,tipo_asent,nomb_asent,tipoCenCom,nom_CenCom,num_local,cod_postal,cve_ent,entidad,cve_mun,municipio,cve_loc,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,lat2,lon2,fecha_alta,lat_rad2,lon_rad2
0,1.0,19.421317,-99.164182,0.338966,-1.730741,8326809,09015531112000251000000000U9,2 AGUAS,2 AGUAS,531210,Inmobiliarias y corredores de bienes raíces,0 a 5 personas,CALLE,SINALOA,CALLE,3 PONIENTE (MEDELLIN),CALLE,VALLADOLID,CALLE,DURANGO,84.0,NaN,NaN,NaN,1.0,BIS,COLONIA,ROMA NORTE,NaN,NaN,NaN,6700.0,9,CIUDAD DE MÉXICO,15,Cuauhtémoc,1,Cuauhtémoc,0998,4,NaN,NaN,NaN,Fijo,19.420569,-99.167557,2019-11,0.338953,-1.7308
1,1.0,19.421317,-99.164182,0.338966,-1.730741,895195,09015531113000891010000000U0,ADMINISTRACIÓN,NaN,531311,Servicios de administración de bienes raíces,0 a 5 personas,AVENIDA,INSURGENTES SUR,CALLE,DURANGO,CALLE,COLIMA,CALLE,DURANGO,216.0,NaN,EDIFICIO SIN NOMBRE,PLANTA BAJA,500.0,SN,COLONIA,ROMA NORTE,NaN,NaN,NaN,6700.0,9,CIUDAD DE MÉXICO,15,Cuauhtémoc,1,Cuauhtémoc,1002,16,5563811570.0,NaN,NaN,Fijo,19.419695,-99.16403,2014-12,0.338938,-1.730739
2,1.0,19.421317,-99.164182,0.338966,-1.730741,6769847,09015531210004501010000000U5,ADMINISTRACION DE CONDOMINIOS,NaN,531311,Servicios de administración de bienes raíces,0 a 5 personas,CALLE,SINALOA,EJE VIAL,3 PONIENTE (SALAMANCA),CALLE,VALLADOLID,CALLE,DURANGO,106.0,NaN,1,PISO 11,1100.0,NaN,COLONIA,ROMA NORTE,NaN,NaN,NaN,6700.0,9,CIUDAD DE MÉXICO,15,Cuauhtémoc,1,Cuauhtémoc,0998,5,NaN,APADILLAPP@HOTMAIL.COM,NaN,Fijo,19.420307,-99.168741,2016-10,0.338948,-1.730821

In [11]:
len(final_combined_df)

28352

In [12]:
final_combined_df['numero_ext'].value_counts()

286.0     895
88.0      752
29.0      637
100.0     626
155.0     618
         ...
1531.0      1
1812.0      1
1626.0      1
850.0       1
610.0       1
Name: numero_ext, Length: 272, dtype: int64

In [13]:
final_combined_df['manzana'].value_counts()

13    2518
9     2150
8     2009
7     1795
6     1756
11    1589
22    1551
14    1452
4     1409
18    1380
10    1377
2     1246
3     1157
5     1138
19    1042
16     933
12     830
17     401
20     378
23     345
26     342
1      317
24     292
15     282
25     262
21     213
27      73
29      54
46      30
28      21
34       4
42       3
44       1
30       1
32       1
Name: manzana, dtype: int64

In [14]:
final_combined_df['per_ocu'].value_counts()

0 a 5 personas        14528
6 a 10 personas        6245
11 a 30 personas       6158
31 a 50 personas        750
51 a 100 personas       574
101 a 250 personas       95
251 y más personas        2
Name: per_ocu, dtype: int64

In [15]:
personal_ocupado = {'0 a 5 personas' : 1,
'6 a 10 personas' : 2,
'11 a 30 personas' : 3,
'31 a 50 personas' : 4,
'51 a 100 personas' : 5,
'101 a 250 personas' : 6,
'251 y más personas' : 7}

final_combined_df['per_ocu'] = final_combined_df['per_ocu'].replace(personal_ocupado)
final_combined_df['per_ocu'].value_counts()

1    14528
2     6245
3     6158
4      750
5      574
6       95
7        2
Name: per_ocu, dtype: int64

In [16]:
#per_ocu
#numero_ext
#manzana

In [17]:
final_combined_df['dif_lat_rad'] =final_combined_df['lat_rad1']-final_combined_df['lat_rad2']
final_combined_df['dif_lon_rad'] =final_combined_df['lon_rad1']-final_combined_df['lon_rad2']

In [18]:
(final_combined_df['lat_rad1']-final_combined_df['lat_rad2'])

0        0.000013
1        0.000028
2        0.000018
3        0.000025
4       -0.000057
           ...
28347    -0.00003
28348   -0.000059
28349   -0.000052
28350     0.00002
28351   -0.000053
Length: 28352, dtype: object

In [19]:
final_combined_df.entidad.value_counts()

CIUDAD DE MÉXICO    28040
NUEVO LEÓN            310
BAJA CALIFORNIA         2
Name: entidad, dtype: int64

In [20]:
final_combined_df[final_combined_df.entidad.str.contains('NUEVO LEÓN')][['id','dif_lat_rad','dif_lon_rad']]

          id dif_lat_rad dif_lon_rad
1593    54.0    0.000059   -0.000021
1594    54.0    0.000029    0.000006
1595    54.0     0.00002    -0.00003
1596    54.0    -0.00002    0.000029
1597    54.0    0.000025    0.000008
...      ...         ...         ...
27414  952.0    0.000008   -0.000024
27415  952.0    -0.00002   -0.000053
27416  952.0   -0.000064   -0.000023
27417  952.0   -0.000012    -0.00007
27418  952.0     0.00006    0.000022

[310 rows x 3 columns]

In [21]:
final_combined_df[final_combined_df.entidad.str.contains('BAJA CALIFORNIA')][['id','dif_lat_rad','dif_lon_rad']]

          id dif_lat_rad dif_lon_rad
17158  583.0    0.000013   -0.000065
17159  583.0    0.000074    0.000011

In [22]:
summary = final_combined_df[['id','per_ocu','numero_ext','manzana']]
summary.head()

    id  per_ocu numero_ext manzana
0  1.0        1       84.0       4
1  1.0        1      216.0      16
2  1.0        1      106.0       5
3  1.0        2      195.0       4
4  1.0        2      154.0       6

In [23]:
# Definir las columnas para la agrupación y agregación
aggregation_columns = ['per_ocu', 'numero_ext', 'manzana']  # Agrega aquí las columnas que quieras sumar

# Realizar la agrupación y las agregaciones
grouped_df = summary.groupby('id')[aggregation_columns].agg({'sum'}).reset_index()
grouped_df2 = summary.groupby('id').agg(total=('id', 'count')).reset_index()
grouped_df2.columns = ['id'] + [f'{pref}_total']



# Renombrar las columnas resultantes
grouped_df.columns = ['id'] + [f'{pref}_suma_{col}' for col in aggregation_columns]

# Mostrar el DataFrame resultante
centros = grouped_df2.merge(grouped_df)

In [24]:
centros.head()

,id,inmobiliario_total,inmobiliario_suma_per_ocu,inmobiliario_suma_numero_ext,inmobiliario_suma_manzana
0,1.0,36,75,4944.0,336
1,2.0,38,78,5193.0,364
2,3.0,22,40,3510.0,279
3,4.0,18,27,3187.0,210
4,5.0,28,52,1864.0,408

In [25]:
centros.to_csv('centros_'+pref+'s'+'.csv')